[Unit]
Description=Build mbtiles

# Restart once times within 20 minutes so that an intermittent network failures are gracefully handled
StartLimitIntervalSec=1200
StartLimitBurst=1

[Service]
Environment=HOME=/root
WorkingDirectory=/var/tilemaker
ExecStart=/var/tilemaker/build-tiles
Restart=on-failure
#8 hours
RuntimeMaxSec=28800

ExecStopPost=systemd-failure-notification "tilemaker"

[Install]
WantedBy=multi-user.target
